<div class="container">
    <h2 class="machine-title">{{machine.name}}</h2>
    <div class="row-fluid" ng-repeat="(viewName, view) in machine.views">
        <div class="span3">
            <ol class="parts-list">
                <li class="part" ng-repeat="part in view" data-part-id="{{partId}}" draggable="{scope: viewName, helper: {letter: alphabet[$index], view: viewName}}" ng-init="partId = viewName + alphabet[$index]">
                    <span class="part-letter">{{alphabet[$index]}}</span>
                    <span class="part-name">{{part.name}}</span>
                    <i class="icon-question-sign get-description ui-icon" ng-click="toggle(partId)" title="Toggle description"></i>
                    <span class="part-description ui-helper-hidden-accessible {{viewName}}{{alphabet[$index]}}">{{part.description}}</span>
                </li>
            </ol>
        </div>
        <div class="span9 machine-view">
            <div data-part-id="{{partId}}" class="part-drop" ng-repeat="part in view" ng-style="styleLocation(part)" droppable="{accept: viewname, scope: viewName}" ng-init="partId = viewName + alphabet[$index];"></div>
            <img src="img/{{machine.id}}/{{viewName}}.png">
        </div>
    </div>
</div>
