<!-- Jumbotron -->
<div class="jumbotron masthead">
  <div class="container">
        <img src="img/jumbotron.png" draggable="false" unselectable="on" ondragstart="function(){console.log('dragged'); return false;}" />
  </div>
</div>
<!-- /Jumbotron -->
<div class="container">
    <div class="marketing">
        <h1>The Machines.</h1>
        <p class="marketing-byline">Want to get to know them? Here they are.</p>
        <div class="row-fluid">
            <a href="#/{{machine.id}}" class="span4 machine" style="background-image: url(img/{{machine.id}}/home_page.png)" ng-repeat="machine in machines | limitTo:3">
                <h2 class="title">{{machine.name}}</h2>
            </a>
        </div>
        <div class="row-fluid">
            <a href="#/{{machine.id}}" class="span4 machine" style="background-image: url(img/{{machine.id}}/home_page.png)" ng-repeat="machine in machines | startFrom:3 | limitTo:3">
                <h2 class="title">{{machine.name}}</h2>
            </a>
        </div>
    </div>
</div>