<!-- Jumbotron -->
<div class="jumbotron masthead">
  <div class="fablab">
  </div>
</div>
<!-- /Jumbotron -->
<div class="container">
    <div class="marketing">
        <h1>The Machines.</h1>
        <p class="marketing-byline">Want to get to know them? <span>Here they are</span>.</p>
        <div class="row-fluid" ng-repeat="row in machineRows">
	    <a href="#/{{machine.id}}" class="span4 machine well" ng-style="{'background-image': 'url(img/'+machine.id+'/'+machine.homePage+'.png)'}" ng-repeat="col in machineCols" ng-init="machine = machines[$parent.$index * numColumns + $index]">
                <h2 class="title">{{machine.name}}</h2>
            </a>
        </div>
        <div id="instructions">
            <h1>Instructions</h1>
            <div class="page-header">
                <h2>1. Pick a Machine</h2>
            </div>
            <p class="lead">
                To begin, click a machine from the selection above.
            </p>


            <div class="page-header">
                <h2>2. Fill in the Parts</h2>
            </div>
            <p class="lead">
                Move the part names from the given list onto the colored rings via drag and drop.
            </p>
            <h3>2a. Drag the part name from the list onto a ring.</h3>
            <div class="instructGif static">
                <img src="img/instructions/drag_static.png" class="img-polaroid" draggable="false" unselectable="on" ondragstart="function(){return false;}">
            </div>
            
            <h3>2b. Replace used parts.</h3>
            <div class="instructGif static">
                <img src="img/instructions/replace_static.png" class="img-polaroid" draggable="false" unselectable="on" ondragstart="function(){return false;}">
            </div>
            
            <h3>2c. Rearrange used parts.</h3>
            <div class="instructGif static">
                <img src="img/instructions/rearrange_static.png" class="img-polaroid" draggable="false" unselectable="on" ondragstart="function(){return false;}">
            </div>

            <h3>2d. Sometimes there are hints.</h3>
            <p class="lead">
                If available, clicking the question mark in a circle will toggle the hint.
            </p>
            <img src="img/instructions/hint.png" class="img-polaroid" draggable="false" unselectable="on" ondragstart="function(){return false;}">


            <div class="page-header">
                <h2>3. Get Your Results</h2>
            </div>
            <p class="lead">
                Once you are satisfied with your decisions, click Submit at the bottom.
            </p>
            <h3>3a. You can get the results one section at a time</h3>
            <img src="img/instructions/singleScore.png" class="img-polaroid" draggable="false" unselectable="on" ondragstart="function(){return false;}">

            <h3>3b. And/Or get the total.</h3>
            <img src="img/instructions/totalScore.png" class="img-polaroid" draggable="false" unselectable="on" ondragstart="function(){return false;}">

            <h3>3c. If you want to retry, you can make modifications or click Reset.</h3>


            <div class="page-header">
                <h2>4. Repeat</h2>
            </div>
            <p class="lead">
                When the time comes for another machine.
            </p>
        </div>
    </div>
</div>
